{% extends "base.html" %}
{% block body_block %}
<title>Plats</title>
<body>
<h1>Plats</h1>
<a href="../addcourse/" class="btn btn-primary" aria-pressed="true">Ajouter</a>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Nom</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {%for c in courses%}
    <tr>
        <td>{{c.name}}</td>
        <td>
            <a href="../updatecourse/{{c.id}}" class="btn btn-warning" role="button" aria-pressed="true">Modifier</a>
            {% if c.used == 0 %}
            <button type="button" onclick="toDelete('{{ c.id }}', '{{ c.name }}')" class="btn btn-danger" data-toggle="modal" data-target="#delete">Supprimer</button>
            {% else %}
            <button type="button" onclick="toDelete('{{ c.id }}', '{{ c.name }}')" class="btn btn-danger" data-toggle="modal" disabled="disabled" data-target="#delete">Supprimer</button>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<!-- Modal delete-->
<div class="modal fade" id="delete" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 align="left" class="modal-title">Supprimer</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <span hidden="hidden" id="deleteCourseNumber"></span>
                <p>Voulez-vous supprimer le plat <span id="deleteCourseName"></span> ? </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <a id="deleteButton" href="" class="btn btn-danger" role="button" aria-pressed="true">Supprimer</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal JavaScript-->
<script>
    function toDelete(id, name) {
            let courseid = document.getElementById("deleteCourseNumber");
            let coursename = document.getElementById("deleteCourseName");
            let deleteButton = document.getElementById("deleteButton");
            courseid.innerHTML=id;
            coursename.innerHTML=name;
            deleteButton.href="../deletecourse/"+id;
        }
</script>
{% endblock %}