<!DOCTYPE html>
{% extends "base.html" %}
{% block body_block %}
<title>CookBook</title>
<body>
{%for recipe in recipes%}
<div class="card-columns">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{recipe.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{recipe.course_id.name}}</h6>
            <a href="recipe/{{ recipe.id }}/{{recipe.pax}}" class="card-link">Détails</a>
        </div>
    </div>
</div>
{% endfor %}
</body>
{% endblock %}
