{% extends "base.html" %}
{% block body_block %}
<head>
    <title>Ingredients</title>
</head>
<body>
    <h1>Ingrédients</h1>
    <a href="../addingredient/" class="btn btn-primary" aria-pressed="true">Ajouter</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        {%for i in ingredients%}
        <tr>
            <td>{{i.name}}</td>
            <td>
                <a href="../updateingredient/{{i.id}}" class="btn btn-warning" role="button" aria-pressed="true">Modifier</a>
                <button type="button" onclick="toDelete('{{ i.id }}', '{{ i.name }}')" class="btn btn-danger" data-toggle="modal" data-target="#delete">Supprimer</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
<!-- Modal delete-->
<div class="modal fade" id="delete" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 align="left" class="modal-title">Supprimer</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <span hidden="hidden" id="deleteIngredientNumber"></span>
                <p>Voulez-vous supprimer l'ingrédient <span id="deleteIngredientName"></span> ? </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <a id="deleteButton" href="" class="btn btn-danger" role="button" aria-pressed="true">Supprimer</a>
            </div>
        </div>
    </div>
</div>
</body>
<!-- Modal JavaScript-->
<script>
    function toDelete(id, name) {
            let ingredientid = document.getElementById("deleteIngredientNumber");
            let ingredientname = document.getElementById("deleteIngredientName");
            let deleteButton = document.getElementById("deleteButton");
            ingredientid.innerHTML=id;
            ingredientname.innerHTML=name;
            deleteButton.href="../deleteingredient/"+id;
        }
</script>
{% endblock %}