<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Ingrédients</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Nom</th>
    </tr>
    </thead>
    <tbody>
    {%for i in ingredients%}
    <tr>
        <td>{{i.name}}</td>
        <!--
        <td><a href="../updateingredient/{{u.id}}" class="btn btn-warning" role="button" aria-pressed="true">Modifier</a></td>
        -->
        <td><a href="../deleteingredient/{{u.id}}" class="btn btn-warning" role="button" aria-pressed="true">Supprimer</a></td>
    </tr>
    {% endfor %}
    <td><a href="../addingredient/" class="btn btn-warning" role="btn btn-primary" aria-pressed="true">Ajouter</a></td>

    </tbody>
</html>