{% extends "base.html" %}
{% block body_block %}
<style>
    p {
  text-align: right;
}
</style>
<title>Recettes</title>
<body>
<h1>Recettes :</h1>
<a href="../addrecipe/" class="btn btn-primary" aria-pressed="true">Ajouter</a>
<table class="table table-hover" id="tableRecipes">
    <thead>
    <tr>
        <th scope="col">Nom</th>
        <th scope="col">Plat</th>
        <th scope="col">Catégorie</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {%for recipe in recipes%}
    <tr>
        <td>{{recipe.name}}</td>
        <td>{{recipe.course_id.name}}</td>
        <td>{{recipe.category_id.name}}</td>
        <td>
            <button type="button" onclick="details('{{ recipe.id }}')" class="btn btn-primary" data-toggle="modal" data-target="#details">Détails</button>
            <button type="button" onclick="toDelete('{{ recipe.id }}', '{{ recipe.name }}')" class="btn btn-danger" data-toggle="modal" data-target="#delete">Supprimer</button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<!-- Modal delete-->
<div class="modal fade" id="delete" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 align="left" class="modal-title">Supprimer</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <span hidden="hidden" id="deleteRecipeNumber"></span>
                <p>Voulez-vous supprimer la recette <span id="deleteRecipeName"></span> ? </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <a id="deleteButton" href="" class="btn btn-danger" role="button" aria-pressed="true">Supprimer</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal details-->
<div class="modal fade" id="details" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 align="left" class="modal-title">Détails</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <span hidden="hidden" id="detailsRecipeNumber"></span>
                <p>Nombre de personnes ? </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <a id="detailsButton" href="" class="btn btn-primary" role="button" aria-pressed="true">Détails</a>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    function toDelete(id, name) {
            let recipeid = document.getElementById("deleteRecipeNumber");
            let recipename = document.getElementById("deleteRecipeName");
            let deleteButton = document.getElementById("deleteButton");
            recipeid.innerHTML=id;
            recipename.innerHTML=name;
            deleteButton.href="../deleterecipe/"+id;
        }
</script>
<script>
    function details(id, name) {
            let recipeid = document.getElementById("detailsRecipeNumber");
            let detailsButton = document.getElementById("detailsButton");
            recipeid.innerHTML=id;
            detailsButton.href="../recipe/"+id;
        }
</script>
<script>
    $(document).ready(function () {
    // Setup - add a text input to each footer cell
    $('#tableRecipes thead tr')
        .clone(true)
        .addClass('filters')
        .appendTo('#tableRecipes thead');

    var table = $('#tableRecipes').DataTable({
        orderCellsTop: true,
        fixedHeader: true,
        initComplete: function () {
            var api = this.api();

            // For each column
            api
                .columns()
                .eq(0)
                .each(function (colIdx) {
                    // Set the header cell to contain the input element
                    var cell = $('.filters th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();

                    // Pour ne pas trier l'index 3 actions
                    if ($(api.column(colIdx).header()).index() < 3) {
                         $(cell).html('<input type="text" placeholder="' + title + '"/>');
                    }

                    // On every keypress in this input
                    $(
                        'input',
                        $('.filters th').eq($(api.column(colIdx).header()).index())
                    )
                        .off('keyup change')
                        .on('keyup change', function (e) {
                            e.stopPropagation();

                            // Get the search value
                            $(this).attr('title', $(this).val());
                            var regexr = '({search})'; //$(this).parents('th').find('select').val();

                            var cursorPosition = this.selectionStart;
                            // Search the column for that value
                            api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();

                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                });
        },
    });
});
</script>
{% endblock %}
