{% extends "base.html" %}
{% block body_block %}
<body>
<div class="container">
    <h1>Modification du plat</h1>
    <form class="col-md-offset-0 col-md-6" method="post">
        <div class="form-group">
            <input hidden="hidden" id="id_id" type="text" class="form-control" name="id" value="{{ form.id.value }}" readonly="readonly" required="">
        </div>
        <div class="form-group">
            <label for="id_name">Description :</label>
            <input id="id_name" type="text" class="form-control" name="name" value="{{ form.name.value }}" maxlength="100" required="">
        </div>
        <input type="submit" class="btn btn-primary" value="Modifier">
        <!--token de Cross-Site Request Forgery, protège des données d'entrées-->
        {%csrf_token%}
    </form>
</div>
</body>
{% endblock %}